spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
jwt.secret=
jwt.expiration=3600000
spring.security.oauth2.client.registration.google.client-id=
spring.security.oauth2.client.registration.google.client-secret=
spring.security.oauth2.client.registration.github.client-id=
spring.security.oauth2.client.registration.github.client-secret=
spring.security.oauth2.client.registration.linkedin.client-id=
spring.security.oauth2.client.registration.linkedin.client-secret=